@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./imgs/back-school-decoration-with-pencils-calculator-space.jpg");
  background-size: cover;
  background-position: 1% 10%;
}

.calc-geral {
  border: 2px solid black;
  border-radius: 10px;
  height: 400px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(238, 235, 235);
}

#calc-visor {
  border: 2px solid black;
  border-radius: 10px;
  width: 300px;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: end;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  background-color: rgb(248, 239, 226);
}

button {
  font-size: 18px;
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-radius: 3px;
  cursor: pointer;
  background-color: #208baf;
  color: white;
}

.botoes-geral {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 7px;
  column-gap: 7px;
  width: 300px;
  height: 200px;
}

.is-depressed {
  box-shadow: -5px 5px 8px;
}
